<div class="about-container">
<a routerLink="/">Back</a>
<img class="portrait" src="../assets/me.jpg" alt="Joshua Varghese">

<h2>Joshua Varghese</h2>

<p>
  Web Developer
</p>
 <p>
    Utilizing Ruby on Rails, ReactJS, AngularJS and Python combined with tools such as comprehensive testing for quality control, version control, the PostgreSQL relational database, and a number of other tools, ensures projects are done with best practices that are part of the real world dev environment.
  </p>
</div>